# Working with Decision Trees
*Curtis Miller*

A **decision tree** is a classification algorithm where a series of true/false questions about the data are answered to predict the value of a target variable. This usually is visualized by a tree that one traces to make predictions. A nice feature of this algorithm is that it's a heuristic a human can easily interpret and use. However, decision trees are especially prone to overfitting.

Decision tree classifiers can be implemented using the **scikit-learn** class `DecisionTreeClassifier`. The algorithm tries to train a decision tree that quickly makes accurate decisions on training data.

The hyperparameter I want to draw particular attention to is the maximum depth a decision tree may have. Trees with high depth may be more prone to overfitting with trees with low depth, while trees with low depth may underfit.

We will see how well decision trees predict who survived the *Titanic* disaster. I load in the *Titanic* dataset below.

In [3]:
import pandas as pd
from pandas import DataFrame
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import classification_report

In [4]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [5]:
titanic_train, titanic_test = train_test_split(titanic)
titanic_train.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
441,1,3,Mr. Bernt Johannesen-Bratthammer,male,29.0,0,0,8.1125
498,0,3,Miss. Mary Canavan,female,21.0,0,0,7.7500
846,0,3,Master. Sigvard Harald Elias Andersson,male,4.0,4,2,31.2750
192,1,2,Master. Michel M Navratil,male,3.0,1,1,26.0000
166,0,3,Mrs. William (Anna Bernhardina Karlsson) Skoog,female,45.0,1,4,27.9000

## Fitting a Decision Tree

We will fit a decision tree without specifying a maximum depth. We will also visualize the tree. (I grabbed the code for visualizing the tree from a [blog post by "Russel"](https://medium.com/@rnbrown/creating-and-visualizing-decision-trees-with-python-f8e8fa394176).)

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [7]:
tree1 = DecisionTreeClassifier()

tree1 = tree1.fit(X=titanic_train.replace({'Sex': {'male': 0, 'female': 1}}    # Replace strings with numbers
                                         ).drop(["Survived", "Name"], axis=1),
                  y=titanic_train.Survived)

# Example prediction
tree1.predict([[2, 0, 26, 0, 0, 30]])    # A male in second class age 26 with no spouse or child aboard who paid $30 fare

array([1], dtype=int64)

In [11]:
pred1 = tree1.predict(titanic_train.replace({'Sex': {'male': 0, 'female': 1}}
                                           ).drop(["Survived", "Name"], axis=1))
print(classification_report(titanic_train.Survived, pred1))

             precision    recall  f1-score   support

          0       0.97      1.00      0.99       402
          1       1.00      0.95      0.98       263

avg / total       0.98      0.98      0.98       665

We can see that on the training data the algorithm is highly accurate, but there's a good chance the model overfit the data.

We can visualize the resulting tree like so. (You will need to install [Graphviz](http://www.graphviz.org/), an open source software package for visualizing graphs, including decision trees.)

In [ ]:
# From here: https://medium.com/@rnbrown/creating-and-visualizing-decision-trees-with-python-f8e8fa394176
dot_data = StringIO()

export_graphviz(tree1,    # Function for exporting a visualization of the tree
                out_file=dot_data,
                # Data controlling the display of the graph
                filled=True, rounded=True,
                special_characters=True,
                feature_names=["Pclass", "Sex", "Age", "Siblings/Spouses Aboard", "Parents/Children Aboard",
                               "Fare"],    # Use the name of the features
                proportion=True)    # Show proportions for labels

# Display graph in Jupyter notebook
graph1 = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph1.create_png())

A graph this complex is probably overfitting. In fact, let's peek to see how this would do on the test data.

In [ ]:
pred2 = tree1.predict(titanic_test.replace({'Sex': {'male': 0, 'female': 1}}
                                          ).drop(["Survived", "Name"], axis=1))
print(classification_report(titanic_test.Survived, pred2))

Performance dropped significantly. This is likely no better than the "predict most frequent label" algorithm.

## Restricting Tree Depth

We can control overfitting by restricting the depth of the tree. For example, let's see a tree that does not go deeper than three levels.

In [ ]:
tree2 = DecisionTreeClassifier(max_depth=3)

tree2 = tree2.fit(X=titanic_train.replace({'Sex': {'male': 0, 'female': 1}}    # Replace strings with numbers
                                         ).drop(["Survived", "Name"], axis=1),
                  y=titanic_train.Survived)

dot_data = StringIO()

export_graphviz(tree2,    # Function for exporting a visualization of the tree
                out_file=dot_data,
                # Data controlling the display of the graph
                filled=True, rounded=True,
                special_characters=True,
                feature_names=["Pclass", "Sex", "Age", "Siblings/Spouses Aboard", "Parents/Children Aboard",
                               "Fare"],
                proportion=True)

# Display graph in Jupyter notebook
graph2 = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph2.create_png())

Now let's use cross-validation to decide the appropriate tree depth.

In [8]:
m_candidate = [2, 3, 4, 5, 6, 7, 8, 9, 10]    # Candidate depths
res = dict()

for m in m_candidate:
    pred3 = DecisionTreeClassifier(max_depth=m)
    res[m] = cross_validate(pred3,
                            X=titanic_train.replace({'Sex': {'male': 0, 'female': 1}}    # Replace strings with numbers
                                         ).drop(["Survived", "Name"], axis=1),
                            y=titanic_train.Survived,
                            cv=10,
                            return_train_score=False,
                            scoring='accuracy')

resdf = DataFrame({(i, j): res[i][j]
                             for i in res.keys()
                             for j in res[i].keys()}).T

resdf.loc[(slice(None), 'test_score'), :]

,,0,1,2,3,4,5,6,7,8,9
2,test_score,0.632353,0.779412,0.761194,0.833333,0.833333,0.757576,0.848485,0.818182,0.787879,0.742424
3,test_score,0.705882,0.823529,0.820896,0.833333,0.909091,0.803030,0.893939,0.909091,0.833333,0.742424
4,test_score,0.750000,0.838235,0.820896,0.833333,0.818182,0.803030,0.878788,0.924242,0.818182,0.742424
5,test_score,0.750000,0.823529,0.805970,0.818182,0.818182,0.803030,0.803030,0.878788,0.803030,0.742424
6,test_score,0.750000,0.779412,0.791045,0.818182,0.787879,0.772727,0.833333,0.803030,0.803030,0.742424
7,test_score,0.750000,0.794118,0.805970,0.803030,0.787879,0.757576,0.833333,0.848485,0.848485,0.727273
8,test_score,0.750000,0.779412,0.776119,0.803030,0.757576,0.772727,0.833333,0.787879,0.818182,0.712121
9,test_score,0.779412,0.750000,0.791045,0.818182,0.803030,0.757576,0.833333,0.803030,0.863636,0.666667
10,test_score,0.779412,0.764706,0.776119,0.818182,0.848485,0.787879,0.848485,0.803030,0.848485,0.651515

In [9]:
resdf.loc[(slice(None), 'test_score'), :].mean(axis=1)

2   test_score    0.779417
3   test_score    0.827455
4   test_score    0.822731
5   test_score    0.804617
6   test_score    0.788106
7   test_score    0.795615
8   test_score    0.779038
9   test_score    0.786591
10  test_score    0.792630
dtype: float64

Maximum predictive accuracy occurs when the maximum depth is 5. Let's see the final result.

In [10]:
tree4 = DecisionTreeClassifier(max_depth=4)

tree4 = tree4.fit(X=titanic_train.replace({'Sex': {'male': 0, 'female': 1}}    # Replace strings with numbers
                                         ).drop(["Survived", "Name"], axis=1),
                  y=titanic_train.Survived)

dot_data = StringIO()

export_graphviz(tree4,    # Function for exporting a visualization of the tree
                out_file=dot_data,
                # Data controlling the display of the graph
                filled=True, rounded=True,
                special_characters=True,
                feature_names=["Pclass", "Sex", "Age", "Siblings/Spouses Aboard", "Parents/Children Aboard",
                               "Fare"],
                proportion=True)

# Display graph in Jupyter notebook
graph3 = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph3.create_png())

InvocationException: GraphViz's executables not found

In [ ]:
survived_test_predict = tree4.predict(X=titanic_test.replace(
    {'Sex': {'male': 0, 'female': 1}}
).drop(["Survived", "Name"], axis=1))

In [ ]:
print(classification_report(titanic_test.Survived, survived_test_predict))

The metrics of the decision tree look good. These are better than when we allowed the tree to have any depth.